.header {
  background-color: #0b6ddd;
  width: 100%;
}
.testheader {
  padding: 20px;
}
.backmain {
  height: 100%;
  width: 100%;
}
.aperte {
  color: #00897b;
  font-size: 0.85rem;
  font-family: Arial, sans-serif;
  font-weight: 600;
}
.contato {
  padding-top: 1rem;
}
#logo {
  color: white;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  text-shadow: 1px 1px 4px #858383;

  margin-left: 3rem;
  text-align: center;
  line-height: 100%;
  margin-bottom: 10px;
}
.nav {
  display: flex;
  align-items: center;
  margin-right: 4rem;
}

.img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.title__slide {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}
.frase__slide {
  color: #333;
  text-align: left;
  width: 70%;
  padding-top: 1rem;
}
.destaque__frase {
  font-weight: bold;
}
.instituicao {
  font-weight: 600;
  font-size: 1rem;
  color: white;
}
.instituicao:active {
  background-color: hidden;
}
.nav-link:focus,
.nav-link:hover,
.nav-link:active {
  color: white;
}

.instituicao:hover {
  color: white;
}
.hero {
  background: linear-gradient(135deg, #95a5a625, #f4f4f4);

  text-align: center;
  padding: 40px;
  padding-top: -10px;
  padding-bottom: 60px;
  height: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.linha {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
  width: 100%;
}
.bloco1 {
  margin-right: 7.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linha2 {
  display: flex;
  border: 1px solid #b9b9b960;
  padding: 1rem;

  border-radius: 5px;
}
.bloco2 {
  margin-left: 10rem;
  padding: 0.5rem 2rem;
  background-color: #128c7e;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-left: 3rem; */
}
.conheca {
  text-align: left;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card__title {
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333333;
  line-height: 1.6;
}

.card__description {
  font-size: 14px;
  color: #777;
  line-height: 1.4;
  margin-bottom: 20px;
  transition: color 0.3s;

  height: 60%;
  font-size: 14px;
  color: #777;
}

.card__button {
  background-color: transparent;
  color: #00897b;

  padding: 0px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  font-weight: bold;
  text-transform: uppercase;

  align-items: end;
}
.toque__slide {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.toque {
  margin-right: 0.75rem;
  width: 1.75rem;
  height: 1.75rem;
}

.card {
  position: relative;
  width: 300px;
  height: 420px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(150, 150, 150, 0.3);
  margin: 20px;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: transform 0.3s;
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0.75rem 1.25rem;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #fff;
  direction: ltr;

  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.whats__tel {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.2;
  direction: ltr;
}
.img__whats {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
}
/* aq */
.fast,
.safe,
.reliable {
  margin: 0 5px;
}

.fast .svg-inline--fa,
.safe .svg-inline--fa,
.reliable .svg-inline--fa {
  font-size: 24px;
  vertical-align: middle;
}

.iconContainer {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding-top: 2rem;
}
.muitomais {
  /* border-bottom: 2px solid rgb(96, 204, 93); */
  color: #555;
}
.frase__slide {
  margin-bottom: 0;
  padding: 0;
}
.iconWrapper {
  display: flex;
  align-items: flex-end;
  border: 1px solid #3333333a;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  width: 8rem;
}

.icon {
  font-size: 2rem;
  color: #3498db;
}

.iconText {
  font-weight: bold;
  padding: 0 0.25rem;
}

.hero {
  background-color: #fff;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title__slide {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.frase__slide {
  font-size: 1.125rem;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #555;
}

.destaque__frase {
  color: #00a86b;
  font-weight: bold;
}
.dropcolor {
}
.iconContainer {
  display: flex;

  justify-content: center;
}

.iconWrapper {
  margin: 0 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.icon {
  font-size: 1.5rem;
  color: #00aaff;
  width: 1.25rem;
  padding: 0.15rem 0;
}

.iconText {
  margin-top: 5px;
  font-size: 0.875rem;
  color: #777;
  margin: 0.15rem 0;
}

.bloco2 {
  display: flex;
}
.whats__tel {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(243, 243, 243);
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 768px) {
  .services {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}
.titulo__service {
  font-size: 2rem;
  color: #333;
  padding: 0rem 10rem;
  padding-top: 1rem;
}
.titulos__services {
  display: flex;

  background-color: white;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  margin-top: -0.25rem;
}

.card:hover {
  cursor: pointer;

  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transform: scale3d(1.01, 1.01, 1.01);
}

.testimonial-section {
  background-color: #f4f4f4;
  padding: 40px;
  text-align: center;
}

.testimonial-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.testimonial-carousel::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  width: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.testimonial-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.testimonial-card p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.aas {
  /* border-top: 1px solid #22222224;
  border-bottom: 1px solid #22222224;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem; */
}
.aas:first-child {
  margin-top: 0;
}
.aas:hover {
  background-color: #f4f4f4e0;
}

@media screen and (max-width: 1024px) {
  .bloco2 {
    width: 50%;
  }
  .services {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .linha {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .bloco1 {
    margin-right: 0;
  }

  .bloco2 {
    margin-top: 20px;
  }

  .services {
    gap: 1rem;
    padding: 10px;
  }

  .linha {
    display: flex;
    flex-direction: row;
  }
  .linha2 {
    width: 80%;
    text-align: left;
  }
  .bloco1 {
    align-items: flex-start;
    padding-left: 2.5rem;
  }

  .card {
    width: calc(46.5% - 40px);
    margin: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-right: 10px;
  }

  .card__title {
    width: 110%;
  }
}
@media screen and (max-width: 614px) {
  .header {
    /* margin-left: -40px;
    margin-right: -40px; */
  }
  .card {
    width: calc(48.5% - 20px);
    margin: 10px 5px;
  }

  .bloco1 {
    padding-left: 0.5rem;
    justify-content: flex-start;
  }
  .bloco2 {
    width: 100%;
  }
  .img__whats {
    width: 35px;
    height: 35px;
    margin-right: -10px;
    margin-left: 20px;
  }
  .linha2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .linha2__description {
    text-align: left;
    justify-content: end;
  }
  .bloco1 {
    display: flex;
    justify-content: left;
  }
  .whats__tel {
    width: 100%;
  }
  .card__content {
    padding: 0.75rem 0.75rem;
  }
}
@media screen and (max-width: 425px) {
  #logo {
    margin-left: 0rem;
  }
  .titulo__service {
    padding: 30px;
  }

  .title__slide {
    text-align: left;
  }
  .frase__slide {
    width: 100%;
    padding-top: 1rem;
  }
  .hero {
    padding: 30px;
  }
  .linha {
    flex-direction: column;
  }
  .bloco2 {
    width: 100%;
  }
  .img__whats {
    margin-left: 0;
    margin-right: 0.25rem;
  }
  .whats__tel {
    text-align: left;
    padding-left: 1rem;
  }

  .card {
    width: 70%;
  }

  .ofcanvagrid {
    display: flex;
  }
  .instituicao {
    text-align: left;
    display: flex;
    color: #333;
  }
  .instituicao:hover {
    color: #333;
  }
  .iconContainer {
    padding-top: 2rem;
  }
}
.backhamburguer {
  background-color: #f4f4f4;
  width: 80%;
  max-width: 350px;
}
